# This job checks incomming changes by building example code and
# running unit tests
name: test

on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
      - '.vscode/**'
  pull_request:
    paths-ignore:
      - '*.md'
      - '.vscode/**'

permissions:
  contents: read

jobs:
  testing:
    strategy:
      fail-fast: false
      matrix:
        zig: [0.15.1]
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          # Workaround #271
          - os: ubuntu-latest
            build_flags: -Doptimize=ReleaseFast
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: ${{ matrix.zig }}

      - name: Check Formatting
        if: runner.os != 'Windows' # zig fmt failing on Windows CI due to CLRF vs LF, skip
        run: zig fmt --ast-check --check .

      - name: Build examples
        run: zig build -Denable_ztracy=false ${{ matrix.build_flags }}

      - name: Build examples with ztracy
        run: zig build -Denable_ztracy=true ${{ matrix.build_flags }}

      - name: Build documentation
        run: zig build doc

      - name: Run tests
        run: zig build test ${{ matrix.build_flags }}

      - name: Run readme
        run: zig build run-readme ${{ matrix.build_flags }}

  # TODO: this will only run on linux, a simple bash scripts should be better than writing all this logic in yaml.
  performance:
    strategy:
      fail-fast: false
      matrix:
        zig: [0.15.1]
        os: [ubuntu-latest]
        build_flags: [-Doptimize=ReleaseSafe, -Doptimize=ReleaseFast ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2 # Fetch at least two commits to access the parent

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: ${{ matrix.zig }}

      - name: Build on patch
        run: zig build ${{ matrix.build_flags }}

      - name: Move patch binary
        run: mv zig-out/bin/root_tests zig-out/bin/patch_root_tests

      - name: Get parent commit SHA
        id: get_parent_sha
        run: echo "PARENT_SHA=$(git rev-parse HEAD^)" >> $GITHUB_OUTPUT

      - name: Checkout parent commit
        uses: actions/checkout@v4
        with:
          ref: ${{ steps.get_parent_sha.outputs.PARENT_SHA }}

      - name: Build on head
        run: zig build ${{ matrix.build_flags }}

      - name: Move head binary
        run: mv zig-out/bin/root_tests zig-out/bin/head_root_tests

      - name: Checkout poop
        uses: actions/checkout@v4
        with:
          repository: andrewrk/poop
          path: poop

      - name: Build poop
        run: cd poop && zig build -Doptimize=Debug

      - name: Benchmark revision
        run: echo ${{ secrets.USERPWD }} | sudo -S poop/zig-out/bin/poop ../zig-out/bin/head_root_tests ../zig-out/bin/patch_root_tests

